<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Experience</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2017</h4>
                                <h4 class="subheading">Architectural Assistant at CZWG</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Working with a small team of Architects on multiple parallel projects;
                                    the company is multidisciplinary so involved lots of communication between disciplines.
                                
                                THIN SANDWICH ONE.
                                
                                I created a massing model for a residential housing project in Bahrain.
                                With the environment so different drom the UK the design process proved particularly interesting.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2015</h4>
                                <h4 class="subheading">Work Experience at Aecom</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Working with a small team of Architects on multiple parallel projects;
                                    the company is multidisciplinary so involved lots of communication between disciplines.
                                
                                Leads were taken by Architects and Landscape Architects across different sized projects;
                                ranging from housing on a city-wide urban planning scheme to a city hall change of use.
                                
                                I created a massing model for a residential housing project in Bahrain.
                                With the environment so different drom the UK the design process proved particularly interesting.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Work Experience at Nicolas Tye Architects</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A smaller practice focusing on high end residential buildings.
                                Designing floor plans and eleveations helped me appreciate the importance of:
                                    interpreting the client brief against practical and planning restrictions.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Work Experience at IID Architects</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Focused on educational buildings.
                                Attended site meetins with contractos for a school extension; negotiated with the client and aquired buisness meeting skills.
                                I learnt to be bold when interpreting the brief and create a daring design to push client boundaries.</p>
         
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2014</h4>
                                <h4 class="subheading">Work Experience at Aecom</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A structured multi-disciplinary Work Experience.
                                Spent time across 9 different disciplines including the Architecture department.
                                Learnt the importance of starting with a strong create design, and the value of working closely with other disciplines.
                               </p>
                            </div>
                        </div>
                   <!--
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Present Day
                                   </h4>
                        </div>
                    </li>
-->
                </ul>
            </div>
        </div>
    </div>
</section>
