<!-- Artists Section -->
<section id="artists" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Artists</h2>
                <h3 class="section-subheading text-muted">There are currently 21 members in the group, many of whom have lectured and taught locally, together with others who simply have a passion for their craft. Members meet frequently to plan events and share their expertise and genuine enthusiasm for the arts. The Barnet Collection continues to support various charities and has donated a considerable sum to many worthwhile causes.</h3>
            </div>
        </div>
        <div class="row">
            {% assign artists = (site.pages | where: "layout" , "artists") %} {% for artist in artists %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="/img/artists/{{ artist.pic }}" class="img-responsive img-circle" alt="{{ artist.name }}">
                    <h4>{{ artist.title }}</h4>
                    <p class="text-muted">{{ artist.description }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
                </div>
            </div> -->
    </div>
</section>
