<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

      {% include nav.html transparent=0  %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="bg-light-gray">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">{{ page.title }}</h2>
                  <h3 class="section-subheading text-muted">{{ page.description }}</h3>
              </div>
            </div>
            <div class="row">
            {{ content | markdownify}}
            </div>
          </div>
      </section>

      {% include footer.html %}
      {% include js.html %}

    </body>
</html>
